/**Google font link**/
@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");
* {
  margin: 0;
  padding: 0;
}
a{
    text-decoration: none !important;
}
.app-container {
  width: 520px;
  height: 310px;
  margin: auto;
  box-shadow: 0px 1px 6px;
  border-radius: 5px;
  overflow: auto;
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  letter-spacing: 1px;
}
